body { background: url("../images/old west bd2.jpg");
background-repeat: no-repeat;
background-size:cover;

}


div.container { 
font-family: 'Bangers', cursive;

 }

 
 div.card {
 	width: 657px;
 	margin: auto;
 }